#champion {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.championIcon,
.itemIcon {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.spellIcon,
.runeIcon {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  background-size: contain;
  image-rendering: auto;
}