#champion {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.championIcon {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  margin-top: 10px;
}

.itemIcon {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}